*{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

body{
    /*Degrade de arriba a abajo*/
    /*background: linear-gradient(red, yellow, blue, green);*/
    /*Degrade de arriba a abajo segun un porcentaje*/
    /*background: linear-gradient(red 70%, yellow);*/
    /*Degrade de derecha a izquierda*/
    /*background: -webkit-linear-gradient(left, red, yellow, blue);*/
    /*Degrade de abajo a la derecha a arriba a la izquierda*/
    /*background: -webkit-linear-gradient(bottom right, red, yellow, blue);*/
    /*Degrade diagonal segun un angulo determinado*/
    /*background: -webkit-linear-gradient(70deg, #c5cfc6,#9d9d93, #474843);*/   
    width: 100vw;
    margin: auto;
    background: gray;
}



/*---------- Mobile First ----------*/
header{
    background: red;
    display: flex;
    justify-content: end;
}

header nav .menu_opciones{
    display: none;
}

header nav .menu_burger{
    background: white;

    width: 65px;
    height: 50px;

    border: none;
    border-radius: 7px;

    margin: 10px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

header nav .menu_burger:hover{
    background: orange;
}

header nav .menu_burger:hover header nav .menu_burger{
    display: flex
}






/*
li{
    list-style: none;
}

header{
    background: black;
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

.nav_principal{
    padding: 25px 10px;
    width: 50%;
}

.nav_principal ul{
    display: flex;
    justify-content: space-around;
}

.nav_principal ul li{
    color: white;
}


main{
    background: yellow;
}

.content_principal{
    background: white;
}

.content_principal .banner{
    display: flex;
}

.content_principal .banner .banner_imagen{
    width: 50%;
    overflow: hidden;
}

.content_principal .banner .banner_imagen img{
    width: 100px;
}
*/

